<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Mary Rose - Admin</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/css/dropzone.min.css">
	<link rel="stylesheet" href="/css/uikit.min.css">
	<script src="/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/axios.min.js"></script>
	<script src="/js/dropzone.min.js"></script>
	<link rel="stylesheet" href="/css/master.css">
</head>

<body>
	<div class="uk-container">
		<div class="uk-text-lead">
			<span>Admin Settings</span>
			<a href="/" target="_blank">
				<span class="uk-link uk-text-small">
					<span uk-icon="icon: link"></span>
					<span>Produnction page</span>
				</span>
			</a>

		</div>
		<ul uk-tab uk-switcher>
			<li><a>Teams Section</a></li>
			<li class="uk-active"><a>Sponsor Section</a></li>
		</ul>
		<ul class="uk-switcher">
			<li>
				<%- include('TeamSection'); %>
			</li>
			<li>
				<%- include('SponsorSection'); %>
			</li>
		</ul>
	</div>
	<% const Teams=['A', 'B' ]; %>
		<% Teams.forEach((team)=> { %>
			<%- include('TeamEditor', { team }); %>
				<% }); %>
</body>

<script>
	const socket = io();
	const updateScore = (Team, Value) => {
		socket.emit('updateScore', {
			target: Team,
			value: Value
		});
	}
	const updateName = (Team, Value) => {
		socket.emit('updateName', {
			target: Team,
			value: Value
		});
	}

	socket.on('syncData', data => {
		document.getElementById('ScoreA').value = data.TeamA.Score;
		document.getElementById('ScoreB').value = data.TeamB.Score;
		document.getElementById('NameA').innerText = data.TeamA.Name;
		document.getElementById('NameB').innerText = data.TeamB.Name;
		document.getElementById('A-NameValue').value = data.TeamA.Name;
		document.getElementById('B-NameValue').value = data.TeamB.Name;
	});
</script>
<script>
	const LogoAUpload = new Dropzone("#LogoA-Upload", {
		url: `/api/logo/A`
	});
	const LogoBUpload = new Dropzone("#LogoB-Upload", {
		url: `/api/logo/B`
	});
</script>

</html>