<form class="dropzone" id="sponsorUpload">
	<input type="file" name="file" style="display: none;" />
</form>

<ul class="uk-list uk-list-divider" id="list"></ul>
<script>
	var list = document.getElementById('list')
	var base, randomized, dragging, draggedOver;

	const renderItems = (data) => {
		list.innerText = ''
		data.forEach(item => {
			var node = document.createElement("li");
			node.draggable = true
			node.style.backgroundColor = item
			node.style.backgroundColor = node.style.backgroundColor.length > 0
				? item : 'lightblue'
			node.addEventListener('drag', setDragging)
			node.addEventListener('dragover', setDraggedOver)
			node.addEventListener('drop', compare)
			node.innerText = item
			list.appendChild(node)
		})
	}



	const setDraggedOver = (e) => {
		e.preventDefault();
		draggedOver = Number.isNaN(parseInt(e.target.innerText)) ? e.target.innerText : parseInt(e.target.innerText)
	}

	const setDragging = (e) => {
		dragging = Number.isNaN(parseInt(e.target.innerText)) ? e.target.innerText : parseInt(e.target.innerText)
	}
</script>
<script>
	const SponsorUpload = new Dropzone("#sponsorUpload", {
		url: "/api/sponsors"
	});
</script>