<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-margin-small" uk-grid>
	<% const Teams=['A', 'B' ]; %>
	<% Teams.forEach((team)=> { %>
		<div>
			<%- include('TeamCard', { team }); %>
		</div>
	<% }); %>

</div>

<div class="uk-card uk-card-default uk-card-body">
	<h3 class="uk-card-title">Production Visibility</h3>
	<button id="hideBar" class="uk-button uk-button-default" onclick="socket.emit('element', {action: 'hideBar'})">Hide
		Score bar</button>
	<button id="showBar" class="uk-button uk-button-default" onclick="socket.emit('element', {action: 'showBar'})">Show
		Score bar</button>
	<button id="hideSpon" class="uk-button uk-button-default"
		onclick="socket.emit('element', {action: 'hideSpon'})">Hide
		Sponsors</button>
	<button id="showSpon" class="uk-button uk-button-default"
		onclick="socket.emit('element', {action: 'showSpon'})">Show
		Sponsors</button>
</div>
<button id="reset" class="uk-button uk-button-danger uk-margin-small" onclick="socket.emit('resetSystem', 'score')">Reset Score</button>